[Unit]
Description=Scan OCR Service

[Service]
OOMScoreAdjust=-1000
Type=simple
ExecStart=/path/to/scanocr.sh /path/to/watchdir /path/to/destdir

[Install]
WantedBy=multi-user.target
